.App {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  form {
    margin: 20px 0;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li.completed span {
    text-decoration: line-through;
    color: grey;
  }
  
  li span {
    cursor: pointer;
  }
  
  li button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
  }

  .complete{
    text-decoration: line-through;
  }

  li {
    cursor: pointer;
    background-color: aqua;
  }
  